<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <!-- Code counted in coverage reports. Templates are view files, not code under test. -->
    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>app/Templates</directory>
        </exclude>
    </source>
</phpunit>
